.approach {
  @apply overflow-hidden h-fit;

  &TextBlock {
    @apply ml-auto mt-[16.25vh] max-w-[30.546vw] w-full;
  }

  &Head {
    @apply mt-[10.8vh] pb-[6.5vh] relative;

    clip-path: polygon(0 0, 100% 0, 100% 84%, 84.5% 100%, 0 100%);

    background: #151515;

    div[class='line'] {
      &::before {
        background: #151515;
      }
    }

    div[class*='container'] {
      @apply pt-[5.4vh];
    }
  }

  .ticker {
    @apply translate-y-[22.5%];
  }

  &Cards {
    @apply mt-[13vh] w-full h-[70vh] flex;

    border-block: 0.059vw solid $stroke;
  }
}
